<div class="m-advancedcontentfilter-item-hidden">
    <div class="m-advancedcontentfilter-item-wrap">
        <div class="m-advancedcontentfilter-title"><%= data.name%></div>

        <div class="m-advancedcontentfilter-recomendation">
            <p class="whitetxt">Точность прогноза: 80%</p>

            <div class="slideline">
                <div class="slideline-chose" style="width: 80%"></div>
            </div>

            <p>Чтобы повысить качество работы рекомендательного сервиса поставьте оценки фильмам</p>
            <button class="btn btn-inverse btn-theme">Поставить оценки</button>

        </div>
    </div>
</div>