<div class="m-evaluator-gallery-item-container">
    <div class="m-evaluator-gallery-chose" style="width: 260px;">
        <div class="chose-title">6. Любимые актеры</div>
        <div class="chose-body">
            <ul class="chose-ul width50">
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>
                <li class="chose-ul-item checked">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>

            </ul>
            <ul class="chose-ul width50">
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-img">
                        <img src="img/photogall/user.jpg" class="chose-img-small"  alt="">
                        <img src="img/photogall/user.jpg" class="chose-img-big"  alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>