<div class="m-evaluator-gallery-item-container">
    <div class="m-evaluator-gallery-chose">
        <div class="chose-title">3. Выберите ваших любимых актеров</div>
        <div class="chose-body">
            <ul class="chose-ul width50">
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">
                        Клинт Иствуд</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джеймс Кемерон</div>
                </li>
                <li class="chose-ul-item checked">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джим Керри</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джеймс Кемерон</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джим Керри</div>
                </li>
            </ul>
            <ul class="chose-ul width50">
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">
                        Клинт Иствуд</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джеймс Кемерон</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джим Керри</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джеймс Кемерон</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джим Керри</div>
                </li>
            </ul>
        </div>
        <div class="btn-wrap">
            <button class="btn btn-inverse btn-theme">Отправить</button>
        </div>
    </div>
</div>