<div class="m-evaluator-title">
    <span class="m-evaluator-slider-icon">?
        <div class="m-evaluator-slider-popup">Поставьте оценку фильмам, которые уже видели и
            получите рекомендации от единомышленников
        </div>
    </span>
    Текущая точность прогноза <span class="m-evaluator-forecast-percent">0%</span>
</div>
<div class="m-evaluator-slider">
    <div class="m-evaluator-slider-range" style="width: 0%;"></div>
    <div class="m-evaluator-slider-wrap-brd">
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">10</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">20</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">30</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">40</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">50</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">60</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">70</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">80</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">90</div>
        </div>
        <div class="m-evaluator-slider-brd">
            <div class="m-evaluator-slider-txt">100</div>
        </div>
    </div>
</div>