<div class="m-evaluator-gallery-item-container">
    <div class="m-evaluator-gallery-chose">
        <div class="chose-title">4. Стенли Кубрик или Джеймс Кемерон?</div>
        <div class="chose-body">
            <ul class="chose-ul">
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Стенли Кубрик</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Джеймс Кемерон</div>
                </li>
                <li class="chose-ul-item checked">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Оба нравятся</div>
                </li>
                <li class="chose-ul-item">
                    <div class="chose-radiobutton"></div>
                    <div class="chose-txt">Не могу выбрать</div>
                </li>
            </ul>
        </div>

        <div class="btn-wrap">
            <button class="btn btn-inverse btn-theme">Отправить</button>
        </div>
    </div>
</div>