<div class="m-films-promo-card-img">
    <img src="<%= data.src%>"/>
</div>

<div class="m-films-promo-card-label">
    <i class="i-tube"></i><span><%= data.type%></span>
</div>
<div class="m-films-promo-card-title">
    <span><%= data.title%></span>
</div>

<div class="m-films-promo-card-counters">
    <span class="m-films-promo-card-counter"><i class="i-star"></i> <%= data.likes%></span>
    <span class="m-films-promo-card-counter"><i class="i-man"></i> <%= data.people%></span>
    <span class="m-films-promo-card-counter"><i class="i-cloud"></i> <%= data.comments%></span>
</div>